{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Online store where you can buys different items....
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}}-Online Store
    {% else %}
        See our new collections-Online Store
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
        <div>
            <div class="row my_row_class">
                <div class="mx-auto">
                <p><a href="{% url 'ecommerceapp:allProdCat' %}">Our Product Collections</a></p>
                 </div>
            </div>
        </div>
    {% endif %}
    <div>
        <div class="mx-auto">
        {% if category %}
        <div>
             <img src="{{category.image.url}}" alt="={{category.name}}" width="100%" height="300px">
        </div>
         <br>
         <div>
            <h1 class="text-center my_title">{{category.name}}</h1>

            <p class="text-justify">{{category.description}}</p>
         </div>
        {% else %}
        </div>
    </div>
    <div>
        <img src="{% static 'img/banner.png' %}" alt="our products" width="100%" height="400px" >
    </div>
    <br>
    <div>
        <h1 class="text-center">Our Products Collections</h1>
        <p class="text-justify">When using Lorem Ipsum for creating dummy content for your newly created website, you can select the text formats you want from the tool. Like, words, sentences, or paragraphs.
            Then, you can select whether you want HTML markup in your dummy content or not
            Then, you can choose the number of words and paragraphs for your dummy content and execute the plan accordingly.
        </p>
    </div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
    {% for product in products.object_list %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
        <div class="card text-center" style="width: 18rem;">
            <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" width="200px" height="200px"></a>

        <div class="card-body">
            <h4>{{product.name}}</h4>
            <p>{{product.price}}</p>
        </div>
    </div>
        </div>
    {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                 <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
             {% endfor %}
        </div>
          {% endif%}
    </div>
    <br>
</div>
{% endblock %}